* {
    box-sizing: border-box;
  }
  
  #questionBox{
    display:flex;
    flex-direction:column;
    border:1px solid black;
    padding: 5px;
  }
  
  #submitButton{
    display:flex;
    border:1px solid black;
    padding: 5px;
  }